---
---
<footer>
    &copy; 2026 In Smokin' We Trust.<br>
    <a href="/legal/tos/" style="color: var(--grey-med); font-size: 0.8rem; text-decoration: none; margin-top: 10px; display: inline-block;">Terms of Service</a> | 
    <a href="/legal/privacy/" style="color: var(--grey-med); font-size: 0.8rem; text-decoration: none;">Privacy Policy</a>
</footer>