---
---
<footer class="site-footer">
    <div class="footer-social">
        <a href="https://youtube.com/@2smokinbarrels" target="_blank"><img src="/icons/youtube.png" alt="YouTube"></a>
        <a href="https://discord.gg/AWC6PNA2mK" target="_blank"><img src="/icons/discord.png" alt="Discord"></a>
        <a href="https://x.com/2_SmokinBarrels" target="_blank"><img src="/icons/x.png" alt="X"></a>
        <a href="https://www.facebook.com/2smokinbarrelsgaming/" target="_blank"><img src="/icons/facebook.png" alt="Facebook"></a>
        <a href="https://www.patreon.com/c/2SmokinBarrels" target="_blank"><img src="/icons/patreon.png" alt="Patreon"></a>
        <a href="https://github.com/ironjeff80" target="_blank"><img src="/icons/github.png" alt="GitHub"></a>
    </div>

    <div class="footer-copyright">
        &copy; 2026 In Smokin' We Trust.
    </div>

    <div class="footer-legal">
        <a href="/legal/tos/">TOS</a> 
        <span class="divider">|</span> 
        <a href="/legal/privacy/">Privacy</a>
    </div>
</footer>